<!DOCTYPE html>
<html>
  <head>
    <title>Birthday App</title>
    <link rel="stylesheet" type="text/css" href="style_one.css">
  </head>
  <body>
    <section id='site'>
    <form action="/welcome">
    
      <h1>Thank you <%= @name %>!</h1>
      <h1>Your birthday will be in <%= @days %> days...</h1>
    
      <img src='images/cake_2.jpg' 
             alt='Cake Doodle' 
             width='400' 
             height='400'
             class='cake'>
    </form>
    </section>
  </body>
<html>